@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: "Eurostile Normal";
	font-style: normal;
	font-weight: normal;
	src: url("font/EuroStyleNormal.ttf") format("truetype");
}

@font-face {
	font-family: "Eurostile Bold";
	font-style: normal;
	font-weight: bold;
	src: url("font/EurostileBold.ttf") format("truetype");
}

$font: 'Segoe UI', "Roboto", Verdana, sans-serif;
$fontNormal: "Eurostile Normal";
$fontBold: "Eurostile Bold";
$red: #c01803;
$nav: #363636;
$header: #595959;
$button: #b40003;
$gray: #a9a8a4;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #f2f2f2;
	scroll-behavior: smooth !important;
	z-index: inherit;
}

.App {
	font-family: $font;
	.content{
		width: 80%;
		margin: 0 auto;
		margin-top: 20vh;
	}
}

.sectionTitle{
	width: 100%;
	height: auto;
	background-color: $header;
	color: white;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
	border-radius: 5px;
	font-size: 25px;
	font-family: $fontBold;
}

.sectionContent{
	margin: 50px 0px;
}

footer{
	background-color: $nav;
	// height: 50px;
	text-align: center;
	padding: 10px;
	p{
		color: #f2f2f2;
		span{
			color: $red
		}
	}
}

@import './Header.scss';
@import './Nav.scss';
@import './About.scss';
@import './Tours.scss';
@import './Contact.scss';

@import './Modal.scss';
@import './Slider.scss';

@media only screen and (max-width: 620px) {
	.App{
		min-width: 620px;
	}
}