header{
	position: relative;
	width: 100%;
	height: 100vh;
	.headerLogo{
		width: 200px;
		height: auto;
		position: absolute;
		top: 20px;
		left: 10px;
	}
	.heroText{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: grid;
		grid-template-columns: auto auto auto;
		height: auto;
		gap: 50px;
		.heroLogo{
			max-width: 500px;
			min-width: 250px;
			img{
				width: 100%;
				height: auto;
			}
		}
		h1{
			font-family: "Eurostile Bold";
			align-self: center;
			color: $red;
			font-size: 60px;
		}
	}
	.arrow{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);
		animation-name: arrow;
  	animation-duration: 2s;
		animation-iteration-count: infinite;
		a{
			img{
				width: 100%;
				height: 100px;
			}
		}
	}
}

@keyframes arrow{
	0%   {transform: translate(-50%, 0%);}
  50%  {transform: translate(-50%, -20%);}
  100% {transform: translate(-50%, 0%);}
}

@media screen and ( max-width: 800px ) {
	.headerLogo{
		top:5%!important;
		left: 50%!important;
		right: 50%;
		transform: translate(-50%, 0);
	}
	.heroText{
		grid-template-columns: 1fr!important;
		grid-template-rows: 1fr 1fr 1fr;
		justify-items: center;
		gap: 0!important;
	}
}