.tours{
	position: relative;
	margin-bottom: 80px;
	.toursWrapper{
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2% 2.5%;
		.tourItem{
			border: 1px solid $gray;
			border-radius: 3px;
			position: relative;
			background-color: #fff;
			img{
				width: 100%;
				height: auto;
				border-radius: 3px 3px 0 0;
			}
			.tourContent{
				padding: 5%;
			}
			.tourTitle{
				display: inline;
				font-family: $fontBold;
			}
			.starImg{
				width: 15px;
				height: auto;
				float: right;
			}
			.tourDate{
				margin-top: 10px;
				color: $gray;
				font-size: 15px;
			}
			.tourTeaser{
				margin: 15px 0 50px 0;
			}
			button{
				position: absolute;
				bottom: 2%;
				left: 5%;
				background-color: $button;
				padding: 10px;
				color: white;
				border: none;
				border-radius: 5px;
				cursor: pointer;
			}
		}
	}
}